<div class="about d-flex justify-content-center align-items-center">
    <div class="card w-25">
      <div class="card-body">
        <div class="d-flex flex-column justify-content-center align-items-center">
          <h5 class="card-title fw-bolder my-2">About us</h5>
        </div>
        <p class="fw-light fs-5">
          Taste🍲 is a webapp built to bring you 1000's of free recipes from all over the world. We offer you recipes of your favourite meals and help you prepare a meal
          worth your time.
          Atribution: All the recipes are provided the <a href="https://www.themealdb.com/api.php" target="_blank">mealdb API</a>.
        </p>
      </div>

      <div class="d-flex flex-column justify-content-center align-items-center">
        <p>Made with ❣️ by Dev ED</p>
        <div>
          <a href="https://twitter.com/GISDevEd" target="_blank">
            <i class="fab fa-twitter-square text-primary fs-2 mx-4"></i>
          </a>
          
          <a href="https://github.com/Edu58" target="_blank">
            <i class="fab fa-github-square text-dark fs-2"></i>
          </a>

        </div>
      </div>
  </div>
</div>