<div class="hero text-light d-flex justify-content-left align-items-center">
  <div class="hero-text mx-5">
    <p class="fs-2">Get Recipes Of Your Favorite Meals 😋</p>

    <p class="fw-light fs-5">
      We bring you recipes of your favourite meals and help you prepare a meal
      worth your time. Our API offers over 1,000,000 recipes of different types
      meals in the world.
    </p>

    <i class="fw-bolder my-5">
      “A recipe has no soul. You as the cook must bring soul to the recipe.” –
      Thomas Keller
    </i>

    <div class="d-flex align-items-center">
      <div>
        <a routerLink="/search"><button class="btn btn-lg btn-primary my-2">Search Recipe</button></a>
    </div>
    <div>
        <a routerLink="/recipes"><button class="btn btn-lg btn-primary mx-3">Random Recipe</button></a>
    </div>
    </div>
  </div>
</div>
