<section class="container d-flex justify-content-around" *ngIf="recipe">
    <div class="summary mx-2">
      <div class="card">
        <img [src]="recipe.meals[0].strMealThumb" class="card-img-top p-2 rounded">
        <div class="card-body text-center">
          <h4 class="card-title fw-bold my-4 text-dark">{{recipe.meals[0].strMeal}}</h4>
          <h5 class="card-text"><span class="fw-bolder">Origin:</span>  {{recipe.meals[0].strArea}}</h5>
          <h5 class="card-text"><span class="fw-bolder">Category:</span> {{recipe.meals[0].strCategory}}</h5>
        </div>
      </div>

      <div class="refresh-div my-3">
        <button class="btn btn-lg bg-success w-100 text-light" (click)="getRandomRecipe()">Next Recipe</button>
      </div>
    </div>

    <div class="recipe card">
      <div class="card-body">
        <div class="d-flex justify-content-center my-2">
          <h5 class="card-title fw-bolder">Recipe</h5>
        </div>
        <p class="card-text lh-base">{{recipe.meals[0].strInstructions}}</p>
      </div>

      <div class="d-flex justify-content-center align-items-center my-2">
        <a class="btn btn-danger text-light w-50" [href]="recipe.meals[0].strYoutube" target="_blank">Video</a>
      </div>
    </div>

</section>
